<!doctype html>
<html lang="en" ng-app="koppPlanner">
<head>
  <meta charset="utf-8">
  <title>Knights of Pen and Paper Party Planner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/angular-ui.min.css"/>
  <link rel="stylesheet" href="css/flat-ui.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <!--<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39217394-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->
</head>
<body ng-controller="PartyController">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="http://infomofo.github.com/kopp-planner">About</a></li>
              <li><a href="https://github.com/infomofo/kopp-planner/issues">Report an Issue</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container wrap">

      <h1>Knights of Pen and Paper Party Planner</h1>
      <p>Plan builds for characters in your Knights of Pen and Paper Party. </p>
        <div class="row span6">
          <div class="row well" ng-repeat="member in party">
            <ul class="party_member">
              <span class="together">
                <li class="dropdown">
                  <a class="dropdown-toggle">
                      <img ui-if="getCharacter(member)" ng:src="img/{{getCharacter(member).sprite}}" data-original-title="{{member.character}}" rel="popover" data-placement="right" data-content="{{getCharacter(member).bonus.description}}"/>
                      <i ui-if="!getCharacter(member)" class="icon-question-sign"></i>
                      <span><b class="caret"></b></span>
                    </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="character in unselectedCharacters()" >
                      <a ng-click="member.character=character.name" data-original-title="{{character.bonus.description}}" rel="tooltip" data-placement="right">{{character.name}}</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle">
                    <img  ui-if="getJob(member)" ng:src="img/{{getJob(member).sprite}}" data-original-title="{{member.job}}" rel="popover" data-placement="right" data-content="{{getJob(member).role}}"/>
                    <i ui-if="!getJob(member)" class="icon-question-sign"></i>
                    <span><b class="caret"></b></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="job in unselectedJobs()">
                      <a ng-click="member.job=job.name"> {{job.name}}</a>
                    </li>
                  </ul>
                </li>
              </span>
              <span class="together">
                <!--li>
                  <a class="well" data-original-title="Attack" rel="popover" data-placement="bottom" data-content=""><img src="img/sword.svg" width="40px" height="47px"/></a>
                </li-->
                <li ng-repeat="ability in getJob(member).abilities" class="together">
                  <span class="badge badge-info ability-level">{{getPointsSpent(member,ability)}}</span>
                  <a ng-click="incrementPointsSpent(member,ability)"><img ng:src="img/{{ability.image}}" data-original-title="{{ability.name}}" rel="popover" data-placement="bottom" data-content="{{ability.description}}"/></a>
                </li>
              </span>
            </ul>
            <table class="table table-condensed" ui-if="getJob(member)">
              <thead>
                <th><a rel="tooltip" data-placement="top" data-original-title="Used by the basic Attack Command, and to determine damage from physical abilities">Atk</a></th>
                <th><a rel="tooltip" data-placement="top" data-original-title="Increases your max HP">Health</a></th>
                <th><a rel="tooltip" data-placement="top" data-original-title="Increases your max MP and increases damage and healing magic abilities by 0.14">Magic</a></th>
                <th><a rel="tooltip" data-placement="top" data-original-title="Increases your likelihood of being attacked by enemies">Threat</a></th>
                <th><a rel="tooltip" data-placement="top" data-original-title="Increases the likelihood of acting first in combat">Initiative</a></th>
                <th><a rel="tooltip" data-placement="top" data-original-title="Increases the likelihood of dealing additional damage in an attack or ability">Critical</a></th>
                <th class="hidden_stat"><a class="hidden_stat" rel="tooltip" data-placement="top" data-original-title="Bonus XP">XP%</a></th>
              </thead>
              <tbody>
                <td>{{computeAttack(member)}}</td>
                <td>{{computeHp(member)}}</td>
                <td>{{computeMp(member)}}</td>
                <td>{{computeThreat(member)}}</td>
                <td>{{computeInitiative(member)}}</td>
                <td>{{computeCriticalPct(member)}} %</td>
                <td class="hidden_stat">{{computeXpPct(member)}}</td>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row span4 well">
        </div>
      </div>
    <div id="push"></div>
    
    <div id="footer">
      <div class="container">
        <p class="muted credit"> Created with </p>
        <ul class="footer-links">
          <li><a href="http://angularjs.org/">Angular.js</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://angular-ui.github.com/bootstrap/">AngularUI</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://fortawesome.github.com/Font-Awesome/">Font-Awesome</a></li>
          <li class="muted"><i class="icon-double-angle-right"></i></li>
          <li><a href="http://pages.github.com/">Github Pages</a></li>
        </ul>
      </div>
    </div>
  <!-- /container -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/angular-ui.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.2.0.js"></script>

  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $('body').tooltip({
    selector: '[rel=tooltip]'
  });
  $('body').popover({
    selector: '[rel=popover]',
    trigger: 'hover',
    html: 'true' //needed to show html of course
  });
  </script>
</body>
</html>
